@font-face { font-family: ro-co-r;  src: url(../fonts/RobotoCondensed-Regular.ttf);}
@font-face { font-family: ro-r;  src: url(../fonts/Roboto-Regular.ttf);}

/*CLEARFIX*/
.cf:after {visibility: hidden; display: block; font-size: 0; content: " ";  clear: both;  height: 0;}
.cf { display: inline-block; }
* html .cf { height: 1%; }
.cf { display: block; }

/*PADDING*/
.padding{padding: 15px;}
.body-bg{background:#EFEFEF; color: #747F8A}

/*COLOR SHADES*/
.bg-green{background-color: #69D0D1}
.bg-amber{background-color:#FFCC66}
.bg-red{background-color:#FF9999}
.bg-grey{background-color: #6D7686;}
.bg-blue{background-color: #A3D8F7}
.bg-yellow{background-color: #F7F8B4}
.bg-peach{background-color: #FEC2BF}

/*NAV-HEADER*/
.navbar-default.custom-navbar{box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);padding: 0 10px;height: 35px;background-color: #1A78C2;
	margin-bottom: 0;border: none;border-radius: 0;}
.custom-navbar .navbar-brand{color: #fff;padding: 13px 0px;}
.custom-navbar .navbar-brand:hover{color: #A4C8E5;}
.nav-header.navbar-nav > li > a{color: #fff}
.my-nav-bar-brand{width: 100%;}
.side-menu-link{padding: 14px 8px;}	
.custom-dropdown, .custom-dropdown .dropdown.open{width: 159px;margin: 0;}
.custom-dropdown .dropdown a{padding: 16px;color: #fff;line-height: 1.4;text-align: left; text-align: right;}
.custom-dropdown .dropdown.open a,.custom-dropdown .dropdown a:hover{color: #777;background-color: #fff;}
.custom-dropdown .dropdown-menu{border: 0;border-right: 0;text-align: right;}
.custom-dropdown .dropdown .sub-dropdown-menu a{padding: 5px 15px;text-align: right;}


/*CONTENT*/
.wrapper{background-color: #fff;box-shadow: 0 1px 3px rgba(0,0,0,0.15);border: 1px solid transparent;margin: 20px 5px;padding: 15px;}
.top-bar{border-bottom: 1px solid #EEF2F8;width: 100%;padding: 0 15px 5px; color: #1A78C2}
.top-bar li a{border-bottom: 5px solid #fff;padding: 10px 15px; color: #333}
.top-bar li.active a{border-bottom: 5px solid #1A78C2; color: #1A78C2}
.top-bar li a:hover{background-color:#FFF; border-bottom: 5px solid #1A78C2; color: #1A78C2}

/*BREADCRUMB*/
.custom-breadcrumb{background-color: #fff;border-bottom: 1px solid #DDE2EB;padding: 3px 15px;}

/*STATUS TOTAL*/
.status-total{font-size: 0}
.status-total div{display: inline-block;}
.status-box{font-size: 12px;width: 20%; border: 1px solid #DDE2EB;margin: 0;}
.status-number{font-family: 'ro-co-r';font-size: 24px;border-right: 1px solid #EEF2F8;padding: 0 16px;color: #fff;text-shadow: 0 1px 3px rgba(0,0,0,0.1);}
.status-text{font-family:'ro-r';font-size: 14px;vertical-align: middle;padding-left: 5px;height: 23px;line-height: 14px;}

/*OVERVIEW PAGE*/
.overview-holder, .small-boxes-holder { float:left; width: 33.33%; padding: 10px; }
.overview-holder:nth-child(1) {padding-left:0;}
.overview-holder:last-child {padding-right: 0;}
.overview-box{border: 1px solid #DDE2EB; }
.overview-box h5{border-bottom: 1px solid #DDE2EB;padding: 10px 15px 10px;margin: 0;font-weight: bold;}
.small-boxes-holder{padding: 1px}
.small-boxes{text-align: center;color: #fff;padding: 21px 0; /* margin: 0 1px 6px; */}
.small-boxes .status-number{font-size: 40px;border-right: none;padding: 0 0;}
.small-boxes .status-text{text-shadow: 0 0px 2px rgba(0,0,0,0.3);}

/*PROVIDER VIEW PAGE*/
.provider{border:1px solid #DDE2EB; margin-top: 10px; }
.provider .overview-holder{width: 25%;padding:10px 5px}
.overview-holder.big,.provider .small-boxes-holder{width: 50%;}
.provider .small-boxes-holder{padding: 12px 5px;}
.provider .small-boxes{color: #6D7686;padding: 8px 9px;text-align: left;border-bottom: 1px solid #DDE2EB;font-size: 13px;}

.width-control .small-boxes-holder{width: 100%}
.bed-type{padding: 5px 13px;text-transform: uppercase;}

.legend .status-box{border:none; padding: 8px 10px}
.legend .status-number{padding: 11px 20px;}

/*FOOTER*/
footer{border-top: 1px solid #DDE2EB;padding: 15px  0 15px 20px;}
footer div{width: 49%; display: inline-block;}
footer div +div{text-align: right;}